.wrapper{
    background-color: rgb(153, 153, 153);
    width: 600px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
}
.postInput{
    width:400px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
.postInput:focus{
    outline: none;
}
.photoIcon{
    margin-top: 1px;
    color: lightgreen;
}
.photoIconDiv>span{
   position: relative;
   top: -7px;
}